NEXT_PUBLIC_SUPABASE_URL=https://wytocarfeudmwyambvrr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5dG9jYXJmZXVkbXd5YW1idnJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNzczMzIsImV4cCI6MjA5NTk1MzMzMn0.zHIjDH6jTgh_JB7ATsuu1lSQqS42q4jlxRpSmIJprqY
